/* GENERAL */
html, .block {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Trebuchet MS', sans-serif;
}

main {
	flex: 1 0 auto;
}

.waves-effect.waves-light:hover {
	background-color: #d50000!important;
}

@font-face {
	font-family: "chandler";
	src: url("../resources/Chandler.ttf");
}

/* PARALLAX */
#parallax {
	z-index: 100;
}

.parallax-container {
	height: 20vh;
}

.overlay {
	font-family: "chandler";
	font-size: 7vw;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

/* NAVBAR */
nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
	float: none;
}

nav.nav-center ul li a {
	display: inline-block;
	font-size: large;
}

.active-page {
	border-bottom: solid 3px white;
}

.active-page-side {
	border-left: solid 3px white;
}

/* FOOTER */
.page-footer .container li {
	font-size: large;
}

/* PUSHPIN */
.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

/* MAIN CONTENT */
